<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Pischines</title>
</head>

<body>
    <menu class="navigation">
        <ul>
            <li><a href="index.html">Accueil</a></li>
            <li><a href="calculateur.html">Calculateur</a></li>
        </ul>
    </menu>
    <div class="container3">
        <h1>Prix du m3: 1000CHF</h1>
        <diu class="moniteur">
        <label for="Longueur">Longueur:</label>

        <input type="text" id="nombre1"><br>

        <label for="Largeur">Largeur:</label>

        <input type="text" id="nombre2"><br>

        <label for="Profondeur">Profondeur:</label>

        <input type="text" id="nombre3" ><br>

        <label for="Tital m3">Total m3:</label>

        <input type="text" id="nombre4" ><br>

        <label for="Total Prix">Total Prix</label>

        <input type="text" id="resultat"  ><br>
        
        <button onclick="multiply()" >
            calculer
   </button>
   <p id="resultat"></p>
    </div>
    </div>
    <script src="../script/main.js"></script>
    </body>
    </html>