<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Pischines</title>
</head>

<body>
    <menu class="navigation">
       <ul>
            <li><a href="index.html">Accueil</a></li>
            <li><a href="calculateur.html">Calculateur</a></li>
        </ul>
    </menu>
    <div class="container1">
        <div class="head">
            <img src="../ressources/header.jpg" width="100%" height="400">
        </div>
    </div>
    <div class="container2">
        <div class="titre1">
            <h1>Titre section</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere luctus vulputate. Aliquam
                tortor eros, ultrices vel imperdiet at, viverra a mi. Vivamus rutrum non neque eu tincidunt. Suspendisse
                non ipsum convallis, mollis metus sed, aliquet elit. Etiam eleifend vitae leo a feugiat. Curabitur quis
                nulla convallis, congue arcu ut, tincidunt ex. Morbi placerat arcu turpis, et suscipit dui lobortis sed.
                Vivamus tellus magna, dignissim ac condimentum in, finibus eget odio. Mauris auctor imperdiet quam quis
                fermentum. Etiam pellentesque efficitur vestibulum. Aenean in elementum lorem.
                Vivamus gravida sed dolor eu tempor. Morbi suscipit hendrerit nisi, ac mollis urna mollis ac. Fusce quam
                ligula, commodo et purus in, interdum aliquet libero. Fusce ut rutrum nunc, eget scelerisque turpis.
                Nunc eget odio quam. Aenean quis placerat nisl. Etiam sollicitudin nisi sed convallis tincidunt. Sed
                auctor tellus vel sapien consectetur sagittis. Fusce maximus congue turpis in faucibus. Aliquam bibendum
                consequat convallis. Curabitur mauris massa, semper id sapien ut, consequat porttitor diam. Proin sed
                mauris tellus. Donec sapien sem, volutpat quis elementum non, imperdiet interdum turpis.</p>
        </div>
        <div class="titre2">
            <h1>Titre section</h1>
            <p>Praesent porttitor justo quis sapien condimentum, et porta diam sodales. Morbi et finibus velit. Nulla
                nec mollis massa. Donec tincidunt neque tellus, eget commodo ligula egestas sed. Morbi non iaculis
                turpis, posuere varius ante. Suspendisse quis blandit dolor, at varius arcu. Sed sapien tortor,
                vestibulum eget tincidunt eget, bibendum vel purus. Etiam cursus blandit massa, at tristique urna
                venenatis vel. Etiam hendrerit, metus consequat tempus imperdiet, enim neque luctus sapien, ut rutrum
                libero metus sit amet mi. Etiam et augue et eros pellentesque vehicula vitae ultrices felis. Proin sit
                amet tortor id enim commodo vehicula. Etiam auctor non metus vitae tempus. Quisque ex urna, mollis at
                molestie at, varius vel nulla.</p>
        </div>
        <div class="titre3">
            <h1>Titre section</h1>
            <p>Aliquam ac risus fermentum, congue velit aliquam, consequat turpis. Sed porttitor pretium elit, sit amet
                viverra magna. Donec nec mi eleifend, eleifend mauris vel, varius risus. Interdum et malesuada fames ac
                ante ipsum primis in faucibus. Duis vestibulum tellus quis luctus iaculis. Vestibulum vulputate, ligula
                imperdiet fringilla scelerisque, nulla massa rhoncus sem, nec aliquam nisl massa facilisis tortor. Fusce
                pellentesque accumsan semper. Phasellus nibh ipsum, dignissim non sapien ac, malesuada ornare lorem.
                Etiam ut cursus est, sit amet scelerisque eros. Praesent eleifend ex nec dolor tempus, eget faucibus
                felis ullamcorper. Vivamus libero felis, lobortis vel sollicitudin in, facilisis a est. Pellentesque
                nibh enim, vulputate sed lorem sit amet, dignissim ornare nisi. Nam venenatis lectus id est tristique
                malesuada. Duis est ipsum, auctor non tincidunt id, fringilla quis risus. Sed porta diam non neque
                sagittis sagittis.</p>
        </div>
        <div class="images">
            <img src="../ressources/images_presentation/piscineS01_01.jpg" >
            <img src="../ressources/images_presentation/piscineS01_02.jpg" >
            <img src="../ressources/images_presentation/piscineS01_03.jpg" >
            <img src="../ressources/images_presentation/piscineS01_04.jpg" >
            <img src="../ressources/images_presentation/piscineS01_05.jpg" >
        </div>
        </div>
        <footer>
        <div class="footer">
            <p>Tél: 024 447 44 70 -Mail:<a href="contact@cote-piscines.ch" style="color: #fff;">contact@cote-piscines.ch</a></p>
        </div>
    </footer>
    
     <script src="../script/main.js"></script>
</body>

</html>